:root {
  --oui-font-family: 'Ubuntu', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 159 76 176;
  --oui-color-primary-light: 198 133 213;
  --oui-color-primary-darken: 116 52 146;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 152 78 173;
  --oui-color-link-light: 193 126 204;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 237 87 122;
  --oui-color-danger-light: 248 149 173;
  --oui-color-danger-darken: 226 63 103;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 34 173 149;
  --oui-color-success-light: 85 208 193;
  --oui-color-success-darken: 0 134 118;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 245 158 66;
  --oui-color-warning-light: 255 198 123;
  --oui-color-warning-darken: 235 114 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 29 26 38;
  --oui-color-fill-active: 40 37 54;

  --oui-color-base-1: 83 74 114;
  --oui-color-base-2: 72 64 101;
  --oui-color-base-3: 61 56 84;
  --oui-color-base-4: 52 49 73;
  --oui-color-base-5: 46 42 65;
  --oui-color-base-6: 39 36 56;
  --oui-color-base-7: 64 55 90;
  --oui-color-base-8: 30 27 44;
  --oui-color-base-9: 23 21 33;
  --oui-color-base-10: 16 15 24;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 237 87 122;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 34 173 149;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 118 63 151;
  --oui-gradient-primary-end: 176 100 208;

  --oui-gradient-secondary-start: 74 42 122;
  --oui-gradient-secondary-end: 159 76 176;

  --oui-gradient-success-start: 15 114 83;
  --oui-gradient-success-end: 34 163 139;

  --oui-gradient-danger-start: 183 45 90;
  --oui-gradient-danger-end: 237 87 122;

  --oui-gradient-brand-start: 204 153 230;
  --oui-gradient-brand-end: 159 107 205;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 193 124 27;
  --oui-gradient-warning-end: 245 158 66;

  --oui-gradient-neutral-start: 26 28 23;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 16px !important;
}